{% extends 'home_base.html' %}
{% load static %}

{% block style %}
        <link rel="stylesheet" href="{% static 'home/contact.css' %}" />
    {% endblock %}

{% block title %}Contact Us{% endblock %}
      {% block main %}
      <div class="container">
        <section class="info-section">
          <h2 class="bg-text">get in touch with the best team support</h2>
          <p class="text">Got any issues, or complaint or questions? Whatever it is, you can get in touch with the right team that's always willing to help.</p>
          <div class="location">
            <h2 class="loc-text">our office address</h2>
            <p class="para">17a Akinsanyan St, Ojodu 101233  Ojodu Berger, Ikeja Lagos State</p>
        </div>
        <div class="email-address">
            <h2 class="add">shoot us an email:</h2>
            <p>icon-city.favicon@gmail.com</p>
        </div>
        <div class="phone">
            <h2 class="num">reach us via phone:</h2>
            <p>+234 111 23 4567, +234 848 78 888</p>
        </div>
        </section> 
        <!-- End of first section -->

        <!-- Section two -->
          <section class="section-form">
     <h3 class="info">tell us what's on your mind</h3>
     <form id="form">
         <div class="user-details">
             <div class="input-box">
                 <label for="name" class="details">Name</label>
                 <input type="text" 
                 id="name" 
                 name="name" 
                 required
                 >
             </div>
             <div class="user-details">
                 <div class="input-box">
                     <label for="email" class="details">Email Address</label>
                     <input 
                     type="text" 
                     id="email" 
                     name="email"
                     required
                     >
             </div>
             </div>
             <div class="user-details">
                 <div class="input-box">
                     <label for="phone" class="details">Phone Number</label>
                     <input type="text" id="phone" name="phone" required
                     >
                 </div>
             </div>
             <div class="user-details">
                 <div class="input-box">
                     <label for="msg" class="details">Message</label><br>
                     <textarea name="message" id="" cols="30" rows="10"></textarea>
                 </div>
             </div>
         </div>
        <input type="submit" class="btn" id="button" value="Send Email" >
           <button type="cancel" class="btn2">Cancel</button>
     </form>
 </section> 
        </div>
      {% endblock %}
