@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  max-width: 100%;
}
a,
h5 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
body {
  width: 100vw;
  background: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bdr {
  border: 1px solid black;
}

/* header start */
.hide {
  display: none;
}
.icon {
  z-index: 2;
  color: rgba(24, 49, 83, 1);
  margin-left: 5px;
}
i,
.desktop-links a {
  color: rgba(24, 49, 83, 1);
}
header {
  display: flex;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
/* added */
header{
  flex-direction: column-reverse;
}
.added{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.added i{
  border: 2px solid #fab005;
  color: #fab005;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* added end */
.desktop {
  display: none;
}
.outside-click {
  grid-area: transparent;
}
.mobile links {
  grid-area: link;
}
.tiles{
  margin-top: 16px;
}
.tiles, .logo{
  width: 100%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
/* changed */
.mobile-link-div {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 1fr 0.3fr;
  grid-template-areas: "link transparent";
}
.overflow {
  overflow-y: hidden;
}
.blur {
  backdrop-filter: blur(2px);
  background: hsla(200, 35%, 13%, 0.4);
}
.mobile .links {
  width: 100%;
  background: #183153;
  padding: 30px;
  transition: transform 0.2s ease;
}
.links .features {
  margin-top: 70px;
}
.links a{
  display: flex;
  padding: 8px;
  margin-top: 8px; /* changed */
}
/* added */
.links a h5{
  margin-left: 16px;

}
.links .mobile-btn{
  margin-top: 100px;
  display: flex;
  padding: 10px;
  flex-direction: row;
}

.mobile .direction {
  margin-left: 10px;
}
.mobile-btn a {
  margin-top: 0;
  padding: 0;
}
.mobile-btn button {
  height: 50px;
  width: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  color: #fab005;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
}
.mobile-btn .mobile-reg {
  background: #fff;
  color: #183153;
  border-radius: 15px;
  font-weight: 600;
}
/* initials for dashboard */
.desktop-btns .initials,
.mobile-btn .initials {
  width: 50px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 50%;
  background: #183153;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.desktop-btns .initials:hover{
  color: #fab005;
}
.mobile-btn div{
  display: flex;
  justify-content: center;
}
/* end */
/* changed */
.left {
  transform: translateX(-200%);  /* added */
}
.show {
  transform: translateX(0);
}
.hide {
  display: none;
}
.fa-xmark {
  color: #fff;
}
.block {
  display: block;
}
.notseen{
  visibility: hidden;
  transition: 0.2s;
}
h1 {
  font-size: 37px;
}
/*  i edited this */
.links .spaced {
  margin-top: 10px;
}
.mobile-link-div .links a {
  color: #fff;
}
/* header end */

/* Steph code  */
.main {
  width: 100vw;
  background: rgba(183, 191, 202, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 1em;
  color: #183153;
}
.main h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
}

.main p {
  font-size: 18px;
  /* padding-top: 30px; */
  margin-top: 10px;
  font-weight: 400;
  line-height: 20px;
  width: 35%;
  letter-spacing: 0em;
  text-align: center;
}
.upload_form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5em auto;
  flex-direction: column;
  background-color: rgba(149, 160, 176, 1);
  max-width: 65%;
  position: relative;
}

.upload_form h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  text-align: left;
  padding-top: 20px;
}
.upload_h1 {
  border-bottom: 1px #ffffff solid;
  margin-right: auto;
  width: 100%;
  padding: 0 1em 1em 3.6em;
  /* margin-bottom: 3em; */
}
form {
  width: 100%;
  height: 60%;
}
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0 auto;
  flex-direction: column;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: #183153;
  background-color: #ffffff;
  border: 2px dashed #183153;
  border-radius: 10px;
  width: 90%;
height: 272px;

}
.drop-zone span {
  margin: 80px auto 80px auto;
  position: relative;
}
.vector {
  padding: 0;
  margin: 0;
  position: relative;
}

.vec1{
  position: relative;
}
.vec2{
  position: absolute;
  right: 53px;
  bottom: 45px;
}
/* .vec2{
  position: absolute;
  right: 52px;
  top: 55px;
} */

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.upload_form button {
  height: 60px;
  width: 30%;
  background: rgba(24, 49, 83, 1);
  border-radius: 8px;
  padding: 20px, 16px, 20px, 16px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 40px auto;
  cursor: pointer;
}
button:hover {
  transform: scale(1.13);
}
.error-message {
  font-size: 20px;
  position: absolute;
  top: 74px;
  display: none;
}
.relative {
  position: relative;
}
.error {
  color: #dc3545;
}
.success {
  color: rgb(24, 136, 24);
}
.block {
  display: block;
}
@media screen and (max-width: 470px) {
  h1 {
    font-size: 35px;
  }
  .head p {
    padding-left: 0;
    padding-right: 0;
  }
  .main {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
  }
  .main h1 {
    font-size: 25px;
    line-height: 28px;
    width: 70%;
    padding: 0;
  }
  .main p {
    font-size: 15px;
    width: 70%;
  }
  .upload_form {
    max-width: 100%;
    margin: 5em 2em;
  }
  .upload_form h1 {
    font-size: 20px;
    margin: auto;
  }
  button {
    font-size: 18px;
    width: 50%;
  }
  
}
@media screen and (min-width: 451px) and (max-width: 998px) {
  header {
    width: 100%;
    /* padding: 30px; */
  }
  .main {
    width: 100vw;
  }
  .main h1 {
    font-size: 26px;
  }
  .main p {
    width: 80%;
  }
  h1 {
    font-size: 50px;
  }
  a,
  h5 {
    font-size: 25px;
  }
  .mobile-link-div {
    grid-template-columns: 1fr 1fr;
  }
  .mobile .links {
    width: 100%;
  }
  header {
    padding: 10px;
    font-size: 25px;
  }
  .mobile button {
    font-size: 25px;
  }
}
@media screen and (min-width: 728px) {
  .main {
    padding: 30px;
    padding-top: 3em;
  }
  .desktop-btns a,
  .desktop-btns button {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
  }
  .upload_form {
    margin: 8em auto;
  }
}
/* header media query */
@media screen and (min-width: 451px) and (max-width: 998px) {
  header {
    width: 100%;
  }
  
  h1 {
    font-size: 50px;
  }
  a,
  h5 {
    font-size: 25px;
  }
  .mobile-link-div {
    grid-template-columns: 1fr 1fr;
  }
  .mobile .links {
    width: 100%;
  }
  header {
    padding: 10px;
    font-size: 25px;
  }
  .mobile button {
    font-size: 25px;
  }
}
@media screen and (min-width: 728px) {
  .desktop-btns a,
  .desktop-btns button {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
  }
}
/* header media query */
@media screen and (min-width: 998px) {
  header {
    width: 100%;
    margin-top: 0;
  }
  .logo{
    display: block;
    width: auto;
  }
  /* added */
header{
  flex-direction: row;
}
/* added end */
  .desktop h5 {
    font-size: 16px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .desktop-link-div,
  .desktop-links,
  .desktop-btns {
    display: flex;
    flex-direction: row;
  }
  .desktop-link-div {
    width: 90%;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
  }
  .desktop-link-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .desktop-link-div a:hover {
    border-bottom-style: solid;
    width: fit-content;
    border-bottom-color: #fab005;
  }
  .desktop-btns a:hover {
    border-bottom-style: none;
  }
  .desktop-links {
    margin-left: 90px;
  }
  .desktop-links div {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .direction {
    margin-left: 10px;
    font-size: 13px;
  }
  .desktop-btns {
    margin-right: 10px;
  }
  .desktop-btns button {
    height: 40px;
    outline: 0;
    border: 0;
    background: transparent;
    color: #183153;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
  }
  .desktop-btns .desktop-reg {
    margin-left: 30px;
    width: 100px;
    border: 2px solid #183153;
    border-radius: 8px;
  }
  .desktop-btns .desktop-reg:hover {
    background: #fab005;
  }
  .hide {
    display: none;
  }
}
/* end of header */

/* footer */
footer {
  width: 100vw;
  /* Note dev this field should be edited i gave this spave so that other contents can stay here */
  /* margin-top: 100%;   */
}
footer h2 {
  font-size: 18px;
}
footer a {
  font-size: 15px;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  color: #fff;
  background-color: #183153;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  display: inline-block;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 3em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 100%;
}

.box a {
  color: #ffffff;
  font-weight: 100;
}

.h-box {
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #ffffff;
}

.l-footer p {
  /* padding-right: 20%; */
  text-align: center;
  color: #ffffff;
}

.b-footer ul {
  display: grid;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer hr {
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}
.b-footer p {
  margin-top: 20px;
  font-size: 13px;
}
.similar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  footer .logo {
    justify-content: left;
  }

  .r-footer > * {
    flex: 1;
  }

  .copyright {
    text-decoration: overline;
    height: 0px;
  }
  .b-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .features {
    flex-grow: 1;
  }
  .l-footer {
    flex: 1 0px;
  }
  .l-footer p {
    text-align: left;
    margin-left: 20px;
    padding: 5px;
  }
  .r-footer {
    flex: 2 0px;
  }
  footer .box a {
    padding: 0;
  }
  footer .box a:hover {
    border-bottom: 1px solid #fff;
    border-bottom-width: 100%;
  }
}

/* footer end */
