@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Sora', sans-serif;
    color:#183153;
    width: 100vw;
}
/* header style*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

ul{
    list-style: none;
    display: flex;
    margin: auto 15px;
    align-items: center;
    justify-content: center;
}
li{
    color: #183153;
    margin: 20px 15px;
}
a:link{
    text-decoration: none;
    color: #183153;
}
a:hover{
    color: #Fab005;
    text-decoration: underline #Fab005 solid 3px;
    
}
a:active{
    text-decoration: underline #Fab005 solid 3px;
    
}
.register{
    background-color: #ffffff;
    height: 55px;
    width: 120px;
    padding: 15px 20px;
    font-weight: 400;
    margin: auto 10px;
    align-items: center;
    justify-content: center;
    border:2px solid #183153;
    border-radius: 8px;
}
.log{
    background-color: #Fab005;
    height: 55px;
    width: 120px;
    padding: 15px 20px;
    font-weight: 400;
    margin: auto 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
/* main page*/
.hero{
    width: 50vw;
}
/*footer */
footer{
    background-color: #183153;
    color: #ffffff;
    width: 100%;
    height: 605px;
}
.row-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text{
    flex: 1 0 25%;
    width: 301px;
    height: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin:50px;
}
.icon-f{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.text-f{
    color: #ffffff;
    margin: 5px 10px 10px 20px;
}
.dev{
    flex: 1 0 16%;
    width: 86px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
.dev > ul{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.list-title {
    color: #ffffff;
}

.dev >ul > li>a{
    color: #ffffff;
}

.resource{
    flex: 1 0 16%;
}
.resource > ul{
    display: flex;
    flex-direction: column;
}
.resource >ul > li>a{
    color: #ffffff;
}
.com{
    flex: 1 0 16%;
}
.com > ul{
    display: flex;
    flex-direction: column;
}
.com >ul > li>a{
    color: #ffffff;
}
.foot-note{
    display: flex;
    flex-direction: row;
    padding: auto 20px;
}
.bar{
    display: block;
    border-top: 1px solid #ffffff;
    width: 80%;
    margin: auto 5%;
    align-items: center;
    justify-content: center;
}