*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #E2DFDF;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
form
{
    display: flex;
    flex-direction: column;
}
label
{
    margin: 0px 0px -10px 14px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #183153;

}
input, select
{
    height: 38px;
    width: 408px;
    border: none;
    border-radius: 0px;
    margin: 15px;
}
#img
{
    position: relative;
    top: 52px;
    right: 122px;
}
#p
{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 102px;
    color: #183153;
    position: relative;
    left: 10px;
}
.right_cont
{
    position: fixed;
    left: 50%;
    margin: 56px;
    width: 24%;
    height: 250px;
}
#label
{
    position: relative;
    top: 44px;
    left: 103px;
    color: white;
    font-size: 12px;
}
#canvas
{
    background: #183153;
    width: 45%;
    margin: auto;
}
#iconp
{
    font-family: 'Pacifico', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 102px;
    color: white;
    position: relative;
    left: 39px;
    bottom: 16px;
}
#icon
{
    height: 32px;
    position: relative;
    top: 55px;
    left: 7px;
}
#up_btn:hover, #u_btn:hover, #sel_btn:hover
{
    border: 1px solid #FAB005;
    background: transparent;
    color: #465A75;
}
#up_btn, #u_btn, #sel_btn
{
    border: none;
    border-radius: 3px;
    background-color: #465A75;
    text-align: center;
    color: white;
    cursor: pointer;
}
#up_btn
{
    width: 40%;
    height: 47px;
    margin: 0px 0 11px 12px;
    display: inline-block;
    line-height: 46px;
    font-size: 23px;
}
#u_btn
{
    width: 78%;
    height: 38px;
    position: relative;
    top: 47px;
    right: 2px;
    display: inline-block;
    line-height: 42px;
    font-size: 23px;
}
#sel_btn
{
    width: 78%;
    height: 38px;
    margin-left: 14px;
    font-size: 22px;
}
#dwn_btn
{
    width: 37%;
    height: 14%;
    background: #FAB005;
    color: #183153;
    border: none;
    border-radius: 4px;
    margin: 2% 0 0 35%;
}