<!-- contact html here -->
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/output.css' %}">
{% endblock %}

      {% block title %}Output{% endblock %}
      {% block main %}
        <!-- main block -->
        <div class="main2">
            <div class="congrats">
                <img src="{% static 'assets/accounts/image_3.png' %}" width="350px" alt="bighead" class="">
                <h1>Your favicon is ready</h1>
                <div class="save_download">
                    <form action="./dashboard/savedicons.html">
                        <button>Save</button>
                    </form>
                    <form action="">
                        <button>Download</button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- endblock -->
    