<!-- contact html here -->
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block style %}
        <link
        rel="stylesheet"
        href="{% static 'dashboard/savedicons/savedicons.css' %}"
        />
{% endblock %}

{% block title %}Saved Favicons{% endblock %}
      <!-- main block -->
{% block main %}
      <div class="main2">
        <h3>My saved favicons</h3>
        <div class="saved_collection">
          <div class="saved_sect">
            <div class="img_left">
              <img src="../static/assets/index/Vector(2).svg" alt="" /><span
                >Icon city</span
              >
            </div>
            <div class="download_delete">
                <form>
                    <button type="submit">
                        <img src="../static/assets/index/Vector(1).svg" alt="" />
                    </button>
                </form>
                <form>
                    <button type="submit">
                        <img
                          src="../static/assets/index/Vector.svg"
                          alt=""
                        />
                    </button>
                </form>
            </div>
          </div>
          <div class="saved_sect">
            <div class="img_left">
              <img src="../static/assets/index/Vector(2).svg" alt="" /><span
                >Icon city</span
              >
            </div>
            <div class="download_delete">
                <form>
                    <button type="submit">
                        <img src="../static/assets/index/Vector(1).svg" alt="" />
                    </button>
                </form>
                <form>
                    <button type="submit">
                        <img
                          src="../static/assets/index/Vector.svg"
                          alt=""
                        />
                    </button>
                </form>
            </div>
          </div>
          <div class="saved_sect">
            <div class="img_left">
              <img src="../static/assets/index/Vector(2).svg" alt="" /><span
                >Icon city</span
              >
            </div>
            <div class="download_delete">
                <form>
                    <button type="submit">
                        <img src="../static/assets/index/Vector(1).svg" alt="" />
                    </button>
                </form>
                <form>
                    <button type="submit">
                        <img
                          src="../static/assets/index/Vector.svg"
                          alt=""
                        />
                    </button>
                </form>
            </div>
          </div>
          <div class="saved_sect">
            <div class="img_left">
              <img src="../static/assets/index/Vector(2).svg" alt="" /><span
                >Icon city</span
              >
            </div>
            <div class="download_delete">
                <form>
                    <button type="submit">
                        <img src="../static/assets/index/Vector(1).svg" alt="" />
                    </button>
                </form>
                <form>
                    <button type="submit">
                        <img
                          src="../static/assets/index/Vector.svg"
                          alt=""
                        />
                    </button>
                </form>
            </div>
          </div>
          <div class="saved_sect">
            <div class="img_left">
              <img src="../static/assets/index/Vector(2).svg" alt="" /><span
                >Icon city</span
              >
            </div>
            <div class="download_delete">
                <form>
                    <button type="submit">
                        <img src="../static/assets/index/Vector(1).svg" alt="" />
                    </button>
                </form>
                <form>
                    <button type="submit">
                        <img
                          src="../static/assets/index/Vector.svg"
                          alt=""
                        />
                    </button>
                </form>
            </div>
          </div>
          
        </div>
      </div>
      <!-- endblock -->
{% endblock %}
  